Package: opentelemetry-injector
Version: 0.1.0
Section: development
Priority: optional
Essential: no
Depends:
#Depends: openjdk-jre-headless
Maintainer: Michele Mancioppi <michele.mancioppi@canonical.com>
Architecture: amd64
Description: LD_PRELOAD object to automatically inject OpenTelemetry instrumentation into your unmodified applications
Homepage: https://github.com/mmanciop/opentelemetry-injector
